<h1>Products Index (<%= @products.length %>)</h1>
<% @products.each do |product| %>
  <p>Name: <%= product.name %> Price: <%= product.price_in_cents %></p>
  <p>Description<p>
  <p><%= product.description %></p>	
<% end %>
